#galleryPage h1.placeHeader {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal bold 20px/22px Montserrat !important;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 1;
}

#galleryPage h3.placeSubHeader {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal 600 13px/22px Montserrat;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 1;
}

#galleryPage .commentTxt {
    text-align: right;
    font: normal normal bold 10px/15px Montserrat;
    letter-spacing: 0px;
    color: #7F7F7F;
    opacity: 1;
}

#galleryPage .smallIcons {
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

#galleryPage .searchIcon {
    opacity: 0.5;
    top: 183px;
    left: 318px;
    width: 23px;
    height: 23px;
}

#galleryPage .commentTxt {
    vertical-align: top;
    font: normal normal bold 10px/15px Montserrat;
    letter-spacing: 0px;
    color: #7F7F7F;
    opacity: 1;
    padding-top: 19px;
}

#galleryPage .active {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal bold 20px/22px Montserrat;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 1;
}

#galleryPage .default {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal bold 20px/22px Montserrat;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 0.5;
}

#galleryPage .smallIcons {
    width: 15px;
    height: 16px;
    opacity: 0.7;
}

#galleryPage .imageTag {
    width: 100%;    
    height: 100%;
    border-radius: 8px;
    padding-right: 2px;
}

#galleryPage .galleryGrid {
    margin-left: -4px;
    padding-right: 0px;
}

#galleryPage .slideBoxCol {
    padding: 1px !important;
    margin-top: 1px;
}
