img {
  max-width: 117% !important;
}
.navigationMenu {
  width: 90%;
    margin-left: 7%
}

.navigationMenu1 {
  width: 115%;
  margin-left: 7%
}

h1.placeHeader {
  color: var(--unnamed-color-001d2c);
text-align: left;
font: normal normal bold 20px/22px Montserrat;
letter-spacing: 0px;
color: #001D2C;
opacity: 1;
}

h3.placeSubHeader {
  color: var(--unnamed-color-001d2c);
text-align: left;
font: normal normal 600 12px/22px Montserrat;
letter-spacing: 0px;
color: #001D2C;
opacity: 1;
}


.active {
  color: var(--unnamed-color-001d2c);
text-align: left;
font: normal normal bold 23px/22px Montserrat;
letter-spacing: 0px;
color: #001D2C;
opacity: 1;
}
.default {
  color: var(--unnamed-color-001d2c);
text-align: left;
font: normal normal bold 23px/22px Montserrat;
letter-spacing: 0px;
color: #001D2C;
opacity: 0.5;
}
.searchIcon {
   opacity: 0.5;
   top: 183px;
left: 318px;
width: 23px;
height: 23px;
}

.commentTxt {
   text-align: right;
  font: normal normal bold 10px/15px Montserrat;
  letter-spacing: 0px;
  color: #7F7F7F;
  opacity: 1;
}

.smallIcons {
width: 15px;
height: 16px;
opacity: 0.7;
}