
ion-button.imageEditorAction{
  padding: 2px 0 2px 0;    
  --background: rgba(0,0,0,0.4);  
  --border-radius: 0px;
  --padding-start: 5px;
  --padding-end: 5px;
  font-size: 14px;
}

div.imageFilterView{
  width: 60px;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}

div.imageFilterView img{
  width: 100%;
}

div.imageFilterView.grayscale img{
  filter: grayscale(1)
}

div.imageFilterView.invert img{
  filter: invert(1)
}

div.imageFilterView.vintage img{
  filter: grayscale(1) contrast(5) sepia(80);
}

div.imageFilterView.lomo img{
  filter: brightness(15) saturate(-20) brightness(5);
}

div.imageFilterView.sincity img{
  filter: contrast(100) brightness(15);
}

div.imageFilterView.sunrise img{
  filter: saturate(-5) sepia(60) contrast(5);
}