ion-card.loginContainer, ion-card.loginContainer ion-card-content{
  --background: transparent;
}

/* ion-content.splash{  
  background-image: url('/assets/graphics/splash-background.svg') #FFFFFF no-repeat center;
} */

ion-item.loginElement{
  --background: #FFFFFF;
  --border-width: 0px;
  --border-color: transparent;  
  --padding-start:0px;
  --inner-padding-end:0px;
  border-radius: 25px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.16);  
  margin-bottom: 15px;
}

ion-item.loginElement ion-input{
  --placeholder-color: var(--light-teal);
  --padding-start: 20px !important;
  --color: #555555;
  font-family: 'Montserrat', sans-serif;
}

ion-button.primaryButton{
  --background: var(--crimson);
  --background-activated: var(--crimson);
  --border-radius: 25px;
  --box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  height: 2.5em;
  font-size: 1.1em;
}


div.loginContainer{
  width: 100%;    
  position: absolute;
  bottom: 40px;
  padding: 10px 20px;
  background: transparent;
  font-family: 'Montserrat', sans-serif  
}

div.loginContainer p{
  color: var(--light-teal);
  text-align: center;
  font-size: 12px;
}

.loginImageContainer{
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.splashImageContainer{
  width: 130%;  
  margin-left: -15%;
  position: absolute;
  bottom: 130px;
  text-align: center;
}

.loginImageContainer h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;  
  color: #00070A;
  font-weight:700;
  margin-bottom: 5px;  
}

.loginImageContainer p{
  color: #2BA296;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-top: 5px;  
}

.splashImageContainer h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;  
  font-size: 37px;
  color: #00070A;
  font-weight:700;
  margin-bottom: 5px;  
}

.splashImageContainer p{
  color: #2BA296;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 5px;  
}

.loginImageContainer img{
  width: 85%;
  margin-left: -30px
}

.splashImageContainer img{
  width: 100%;
  margin-left: -40px;    
}


@media (min-width:500px){
  div.splashImageContainer{
    max-width:500px;
    margin-left:0px;
    left: 50%;
    transform: translateX(-50%);
  }

  div.loginImageContainer{
    max-width:500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  div.loginContainer{
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
  }
}