ion-col.interestBox{
  padding: 10px;
}

ion-col.interestBox div.interests{
  border-radius: 20px;
  padding: 32px 0;
  text-align: center;
  border: 1px solid #707070;  
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  font-weight: bold;
}

ion-col.interestBox div.interests.active, ion-col.interestBox div.interests:hover{
  background: #FE346E;
  color: #FFF;
  border: 1px solid #FE346E;    
  box-shadow: 0 3px 3px rgba(33,33,33,0.16)
}

ion-content.interest{
  --padding-top: 30px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-button.primaryButtonPink{
  --background: var(--pink);
  --background-activated: var(--pink);
  --border-radius: 25px;
  --box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
