ion-card.postContainer{
  --background: none;
  box-shadow: none;  
  font-family: 'Montserrat', sans-serif;
}

ion-chip.postAuthorContainer{
  margin-left: 10px;
  margin-bottom: 10px;
  --background: none;
  font-family: 'Montserrat', sans-serif;
}

ion-card-content.postDetailsContainer{
  margin-left: 0;
  padding: 15px 0 15px 0;  
}

ion-chip.postActionCountLabel{
  font-size: 14px; 
  --background: none;
  padding: 3px 5px 3px 5px;
  height: 20px;
  margin-top: -4px;
  font-family: 'Montserrat', sans-serif;
}

ion-icon.postActionIcons{
  font-size: 20px;  
  --color: #000000;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

ion-icon.postActionIcons.active{
  color: var(--pink);
}

.saveCounter{
  float: right;
}

.saveCounter ion-icon.postActionIcons{
  margin-right: 0px;
  font-size: 22px;
}

.saveCounter ion-chip.postActionCountLabel{
  margin-left: -3px;
  margin-top: -3px;
}

ion-label.postAuthorName, 
ion-chip.postActionCountLabel{  
  color: #000;
  background-color: rgba(255,255,255,0.7);  
}

div.postActionContainer{
  margin-bottom: 10px;
}

div.postImageContainer{
  width: 100%;
  height: auto;  
  max-height: 50vh;
  border-radius: 15px;
  overflow: hidden;  
}

div.postImageContainer img{
  width: 100%;
  object-fit: contain;
}


div.postSaveActionContainer{
  position: absolute;
  right: 5px;    
  margin-top: -25px;
  z-index: 2; 
}

div.postSaveAction{
  width: 40px;
  height: 40px;
  background: #212427;
  border-radius:50%;  
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

div.postSaveAction:last-child{
  margin-right: 0px;
}

div.postSaveAction ion-icon{
  color: #FFFFFF;
  font-size: 22px;  
}

div.postSaveAction ion-icon.active{
  color: var(--pink);  
}