ion-card.postContainer{
  --background: none;
  box-shadow: none;
  margin-left: -20px;  
}

ion-chip.postAuthorContainer{
  margin-left: 30px;
  margin-bottom: 10px;
  --background: none;
}

ion-card-content.postDetailsContainer{
  margin-left: 20px;
}

ion-chip.postActionCountLabel{
  font-size: 14px; 
  --background: none;
  padding: 0px 5px 3px 5px;
  height: 20px;
  margin-top: -4px
}

ion-icon.postActionIcons{
  font-size: 20px;  
  --color: #000000;
}

ion-icon.postActionIcons.active{
  color: var(--pink);
}


ion-label.postAuthorName, 
ion-chip.postActionCountLabel{  
  color: #000;
}

div.postActionContainer{
  margin-bottom: 10px;
}

div.postImageContainer{
  width: 100%;
  height: auto;  
  max-height: 30vh;
  border-radius: 0 30px 30px 0;
  overflow: hidden;  
}

div.postImageContainer img{
  width: 100%;
  object-fit: contain;
}


div.postSaveActionContainer{
  position: absolute;
  right: 10px;    
  margin-top: -20px;
  z-index: 2; 
}

div.postSaveAction{
  width: 40px;
  height: 40px;
  background: #212427;
  border-radius:50%;  
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

div.postSaveAction:last-child{
  margin-right: 0px;
}

div.postSaveAction ion-icon{
  color: #FFFFFF;
  font-size: 22px;  
}

div.postSaveAction ion-icon.active{
  color: var(--pink);  
}