#detailsPage {
    margin-top:50px;
}

#detailsPage .nameInput {
    padding-left: 2%;
    padding-right: 2%;
}


#detailsPage .shadowBox {    
    /* -webkit-box-shadow: 0 0 5px 2px rgb(22, 13, 13);
    -moz-box-shadow: 0 0 5px 2px rgb(22, 13, 13); */
    box-shadow: 0 0 15px 1px rgb(22, 13, 13);
    border-radius: 9px;  
    border: 1px solid red;
}

#detailsPage .shadow-red{
    /* border-radius: 5px;
    box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59); */
        margin-top:30px;
        border-radius: 30px !important;
        padding-left: 10px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #9fa6ad;
        border-top: 0px !important;
        box-shadow:  0px 4px 11px #9fa6ad;
        margin-left:0px;    
}

#detailsPage .durationBtn{
    border-radius: 64px;
    padding: 0px;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.03em;
    display: block;
    width: 50%;
    height: 80%;
    margin-left: 25%;
}

#detailsPage .plus {
    float:left;
  
    font-size: 19px;
    font-weight: bold;
}

#detailsPage .minus {
    float:right;  
    font-size: 19px;
    font-weight: bold;
}

.counterInput {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 60px;
    margin-left: 15%;
    margin-right: 15%;
}

#detailsPage .description {
    border: 1px solid #9fa6ad;
    border-top: 0px !important;
    box-shadow: 0px 4px 11px #9fa6ad;
    border-radius: 18px;
    height: 76%;
}

#detailsPage .description::-webkit-ion-textarea-placeholder {
    color: #000;
    font-weight: bold;
}

#detailsPage .descriptionLabel {
    position: absolute;
    left: 4%;
    font-weight: bold;
    font-size: 12px !important;
}

#detailsPage .nextBtn {
    margin-right: 4%;
    height: 35px;
    margin-top:1%;
    margin-bottom: 78%;
    
}

#detailsPage .next-arrowForward {
    left: 20px;
    position: relative;
}

#detailsPage .countLabel {
    position: absolute;
    left: 80%;
    float: right;
    color: #9fa6ad !important;
    font-size: 12px !important;    
    top: 60%;
}


#detailsPage .durationLabel {
    font-weight: bold;
}