ion-card.mediaWrapper{
  box-shadow: none;
}

ion-card.mediaWrapper canvas{
  width: 100% !important;
  height: auto !important;
  /* height: calc(100% * 3 / 5) !important; */
  /* height: 60vh !important; */
}

canvas#canvas{
  border: 1px solid;
}

.tui-image-editor-header-logo{
  display: none;
}

.newMediaContainer{
  min-height: 40vh;  
  max-height: 50vh;
  height: auto;
  overflow: hidden;
  position: relative;
}

.newMediaContainer img{
  width: 100%;  
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

ion-item.inputBox{
  --border-width: 0px;  
  --highlight-background: var(--pink);
}

ion-item.inputBox.item-has-focus ion-label{
  color: var(--pink) !important;
}

ion-item.inputBox ion-label{
  --color: var(--black) !important; 
}

ion-item.inputBox ion-input{
  --color: var(--black) !important;
  --placeholder-color: var(--black);
}

ion-item.inputBox ion-textarea{
  --color: var(--black) !important;
  --placeholder-color: var(--black);
}


ion-button.imageEditorAction{
  padding: 2px 0 2px 0;    
  --background: rgba(0,0,0,0.4);  
  --border-radius: 0px;
  --padding-start: 5px;
  --padding-end: 5px;
  font-size: 14px;
}

div.imageFilterView{
  width: 60px;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}

div.imageFilterView img{
  width: 100%;
}

div.imageFilterView.grayscale img{
  filter: grayscale(1)
}

div.imageFilterView.invert img{
  filter: invert(1)
}

div.imageFilterView.vintage img{
  filter: grayscale(1) contrast(5) sepia(80);
}

div.imageFilterView.lomo img{
  filter: brightness(15) saturate(-20) brightness(5);
}