

#subGalleryPage ion-header {
    position: fixed;
    background-color: #FFFFFF;
}
#subGalleryPage h1.placeHeader {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal bold 20px/22px Montserrat !important;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 1;
}

#subGalleryPage h3.placeSubHeader {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal 600 13px/22px Montserrat;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 1;
}

#subGalleryPage .commentTxt {
    text-align: right;
    font: normal normal bold 10px/15px Montserrat;
    letter-spacing: 0px;
    color: #7F7F7F;
    opacity: 1;
}

#subGalleryPage .smallIcons {
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

#subGalleryPage .searchIcon {
    opacity: 0.5;
    top: 183px;
    left: 318px;
    width: 23px;
    height: 23px;
}

#subGalleryPage .commentTxt {
    vertical-align: top;
    font: normal normal bold 10px/15px Montserrat;
    letter-spacing: 0px;
    color: #7F7F7F;
    opacity: 1;
    padding-top: 19px;
}

#subGalleryPage .active {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal bold 20px/22px Montserrat;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 1;
}

#subGalleryPage .default {
    color: var(--unnamed-color-001d2c);
    text-align: left;
    font: normal normal bold 20px/22px Montserrat;
    letter-spacing: 0px;
    color: #001D2C;
    opacity: 0.5;
}

#subGalleryPage .smallIcons {
    width: 15px;
    height: 16px;
    opacity: 0.7;
}

#subGalleryPage .imageTag {
 max-width: 300%;
   max-height: 190%;
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #C8C8C837 23%, #383838C7 65%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}


#subGalleryPage .slideBoxCol {
   left:5%;
}

#subGalleryPage .verticalGalleryItem {
    margin-top:30%;
}

#subGalleryPage .slideBoxCol>p {
    
top: 0px;
left: 0px;
width: 17px;
height: 24px;


 --background: url('https://www.freepngimg.com/download/symbol/62766-map-symbol-computer-location-icons-free-download-png-hd.png') 10 10/100% 100% no-repeat;opacity: 1;

}

#subGalleryPage .galleryGrid:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin-top:30%;
    margin-bottom:30%;
    border: 2px dashed #CF2B59;
    --background: transparent url('https://www.freepngimg.com/download/symbol/62766-map-symbol-computer-location-icons-free-download-png-hd.png') 0% 0% no-repeat padding-box;

    opacity: 1;
}

.myImage {
  margin-top: 97%;
    position: absolute;
    margin-left: -23%;
    transform: matrix(1, -0.02, 0.02, 1, 0, 0);
    max-width: 17% !important;
    max-height: 24% !important;
    /*background: transparent url('img/gps.png') 0% 0% no-repeat padding-box;*/
}